PatientSurvey#signup_survey11111
<% @greeting.each do |k, v| %>
simple_format(<%= k %>: <%= v %><%= "\r\n" %>)
--------------------------------------------------------------
simple_format("<p>We want to put a paragraph...</p>\n\n<p>...right there.</p>")
--------------------------------------------------------------
simple_format(<%= k %>: <%= v %>\r\n)
<% end %>
  find me in app/views/patient_survey_mailer/signup_survey.text.erb
