<!DOCTYPE html>
<html>
  <head>
    <title>Testapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if user_signed_in? %>
  <%= render 'shared/header' %>
    <div class="row">
      <div class="col-md-2">
        <%= render 'shared/sidebar' %>
      </div>
      <div class="col-md-10" id="page_content">
        <% flash.each do |k, msg| %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  <% else %>
    <%= yield %>
  <% end %>

  </body>
</html>
